.content a {
  color: black;
  text-decoration: none;
}

/*content*/

.content{
  display: flex;
}

.leftMainCol {
  display: inline;
  float: left;
  width: 18%;
  padding: 10px;
  padding-left: 6%;

}

.leftMainCol a{
  color: black;
}

.rightMainCol {
  display: inline;
  width: 70%;
  padding: 10px;
  padding-right: 6%;
}

#specs {
  padding: 20px;
  background: #ffffff;
  border: 3px solid #2b4d66;
}

#specs h2 {
  text-align: center;
}

#courseCard {
  margin-bottom: 15px;
  position: relative;
  padding-top: 20px;
  background: #ffffff;
  border: 3px solid #2b4d66;
  height: 270px;
}

.leftPart {
  position: absolute;
  width: 20%;
}

#lessCount {
  height: 20%;
  position: absolute;
  display: flex;
}

#lessCount h4{
  text-align: center;
}

#lessCount a{
  color: black;
}

#showMoreButt {
  display: inline;
  color: white;
  height: 35px;
  width: 120px;
  margin: 0 auto;
  border: 2px solid #2b4d66;
  color: #2b4d66;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
  box-shadow:5px 8px 9px 0px rgba(0,0,0,0.51);
  -webkit-box-shadow:5px 8px 9px 0px rgba(0,0,0,0.51);
  -moz-box-shadow:5px 8px 9px 0px rgba(0,0,0,0.51);
}

#subscribeCourse {
  margin: 0 auto;
  display:inline;
  color: white;
  height: 35px;
  width: 120px;
  border: 2px solid #2b4d66;
  color: #2b4d66;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
  box-shadow:5px 8px 9px 0px rgba(0,0,0,0.51);
  -webkit-box-shadow:5px 8px 9px 0px rgba(0,0,0,0.51);
  -moz-box-shadow:5px 8px 9px 0px rgba(0,0,0,0.51);
}

.pageButt{
  position: absolute;
  bottom: 5%;
  right: 5%;
  display: flex;
  padding: 10px;
  width: 280px;

}

button:hover {
  opacity: 0.8;
}


.centerPart {
  font-family: Helvetica;
  position: absolute;
  width: 80%;
  left: 5%;
  height: 100%;
  top:0px;

}

.lectAuthor{
  font-family: Helvetica;
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
  color: black;
  width: 280px;
}

#descr{
  text-align: justify;
}

#rate{
  color: black;
  height: 25px;
  font-size: 18px;
  font-family: Helvetica;
  background: linear-gradient(to right, #ffffff, #2b4d68,#2b4d68);
  text-align: right;
  color: white;
  padding-right: 3px;
}

h4{
  line-height: 20%;
  font-size: 18px;
  text-align: left;
}

.rightPart {
  position: absolute;

  width: 20%;
  right: 0;
}

.popupcont{
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 16px;
  background-color: rgba(1, 1, 1, 0.725);
  z-index: 100;
  overflow: auto;
}

.popup{
  display: none;
  width: 300px;
  height: 150px;
  margin: 200px auto;
  background: #fff;
  z-index: 200;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 16px;
  border-radius: 10px;
}

.operstatus {
  text-align: center;
  font-size: 26px;
  font-family: sans-serif;
}

.close{
  width: 140px;
  height: 40px;
  margin-left: 80px;
  margin-top: 80px;
  cursor: pointer;
  font-size: 18px;
  border: 0;
  background-color: #78c4ff;
  color: white;
}
