body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f5f5;
  /*background-image: url(logo061-1024x450.png);*/
  /*background-image: url(../img/login/skyBackground.jpg);*/
  /*opacity: 0.9;*/
  /*background-size: cover;*/
  link: #87CEFA;
}


.info {
	border-radius: 10px;
	position: relative;
	background: #79c4fd;
	width: 200px;
	color: #fafafa;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/*header*/
/*header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #78c4ff;
    font-family: Helvetica;
    border-radius: 5px 5px 0 0;
    border-bottom: 2px solid #627F9E;
}

header headercount {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    position: absolute;
}

.logo img{
    height: 60px;
}

.item {
    margin-top:10px;
    display: inline;
    font-weight: bold;
    padding: 3px 30px;
    font-size: 16px;
}

.reg {
    width: 100px;
    position: absolute;
    display:inline;
    font-weight: bold;
    font-size: 14px;
    margin-left: 85%;
    margin-top: 1%;
}


form {
    width: 250px;
    height: 20px;
    border-radius: 5px;
}

form p{
    border: black 5px;
    height: 20px;
    border-radius: 5px;
    width: 250px;
}

form p input {
    position: absolute;
    top:30px;
    width: 230px;
    height: 20px;
    border: none;
    background: #ffffff;
    color: #9E9C9C;
    border-radius: 5px 0 0 5px;
}

#buttonSearch{
    background: white;
    border-radius: 0 5px 5px 0;
    margin-left: 230px;
    height: 20px;
    width:20px;
}*/

/*header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #689cd2;
  font-family: Helvetica;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid #627F9E;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.headercont {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: bold;
  color: #ffffff;
  padding: 10px 30px;
  font-size: 35px;
}

.item {
  font-weight: bold;
  padding: 10px 30px;
  margin-top: 50px;
  font-size: 20px;
}

.reg {
  font-weight: bold;
  padding: 10px 30px;
  font-size: 15px;
  margin-top: -45px;
}*/

.circle {
	position: relative;
	top: 5px;
	background: #f5f5f5;
	border-radius: 50%;  
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-khtml-border-radius: 50%;
	width: 180px;
	height: 180px;
}

img {
	width: 180px;
	height: 180px;
	position: center;
}

.lecturer {
	position: absolute;
	top: 30%;
	left: 12%;
	background: #79c4fd;
	width: 200px;
	/*border-radius: 10px;*/
	color: #aaaaaa;
    box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.6), 0 9px 19px 0 rgba(0, 0, 0, 0.57);
}

.lecturer_info{
	/*border-radius: 10px;*/
	padding: 10px;
	line-height: 90%;
	background: #ffffff;
	color: #000000;
	/*box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.6), 0 9px 19px 0 rgba(0, 0, 0, 0.57);*/
}

.personal_info {
	/*border-radius: 10px;*/
	padding: 10px;
	padding-bottom: 20px;
	position: absolute;
	right: 3%;
	width: 800px;
	background: #79c4fd;
	color: #ffffff;
	box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.6), 0 9px 19px 0 rgba(0, 0, 0, 0.57);
}


.info span:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 3px;
  background-color:  #ffffff;
  position: relative;
  /*margin-left: -100%;
  left: -14px;*/
}

title {
  overflow: hidden;
  text-align: center;
  font-size: 25px;
}

.title span {
  display: inline-block;
  vertical-align: middle;
}

.title:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 45%;
  height: 3px;
  background-color: #000000;
  position: relative;
  /*margin-left: -100%;*/
  left: -14px;
}

.title:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 45%;
  height: 3px;
  background-color: #000000;
  position: relative;
  /*margin-right: -100%;*/
  right: -14px;
}


.courses_info {
	/*border-radius: 10px;*/
	padding: 10px;
	position: absolute;
	margin-top: 25%;
	right: 3%;
	width: 800px;
	background: #c9dbf8;
    box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.6), 0 9px 19px 0 rgba(0, 0, 0, 0.57);
}


.course_column {
	position: absolute;
	right: 8%;
	top: 30%;
	width: 800px;
	background: #ffffff;
}

.foot {
  font: 12px sans-serif;
  padding: 1%;
  border-top: 2px solid #08BFBB;
  margin-top: 770px;
  background-color:  #87CEFA;
  border-radius: 0 0 5px 5px;
}

.contact {
  float: left;
  margin-left: 50px;
}

.copyright {
  float: right;
  margin-right: 50px;
  margin-top: 20px;
}

.footcont {
  overflow: hidden;
}

.course {
	/*border-radius: 10px;*/

	background: #ffffff;
    font-color: #000000;
	position: relative;
	padding: 6px;
	margin: 2%;
	/*box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.6), 0 9px 19px 0 rgba(0, 0, 0, 0.57);*/
}

.course_header {
	margin-top: 5%;
}

.courselink {
    color: #000000;
    text-underline: black;
    text-decoration: none;
}

course h4 p a{
	color: #87CEFA;
}

h4 {
	line-height: 10%;
}

h3 {
	line-height: 10%;
}

h5 {
	line-height: 10%;
	text-align: justify;
}
